In [1]:
# Adding path for importable modules
import sys
sys.path.append(r"C:\Users\Sergio\Documents\GitHUb\Quant-trading-journey\src")

In [2]:
import quant_utils as qu

In [3]:
# Download financial data function
tickers = ['AAPL','MSFT','TSLA','MNQ=F']
data = qu.data.download_data(tickers)
data

Saved → C:\Users\Sergio\Documents\GitHUb\Quant-trading-journey\src\data\AAPL+MSFT+TSLA+MNQF_max_1d.pkl

Ticker            AAPL     MNQ=F        MSFT        TSLA
Date
1980-12-12    0.098389       NaN         NaN         NaN
1980-12-15    0.093256       NaN         NaN         NaN
1980-12-16    0.086412       NaN         NaN         NaN
1980-12-17    0.088550       NaN         NaN         NaN
1980-12-18    0.091118       NaN         NaN         NaN
...                ...       ...         ...         ...
2025-12-08  277.890015  25664.00  491.019989  439.579987
2025-12-09  277.179993  25699.75  492.019989  445.170013
2025-12-10  278.779999  25798.00  478.559998  451.450012
2025-12-11  278.029999  25713.50  483.470001  446.890015
2025-12-12  278.279999  25213.50  478.529999  458.959991

[11346 rows x 4 columns]

In [4]:
# Load data from pickle
qu.data.load_data(r"C:\Users\Sergio\Documents\GitHUb\Quant-trading-journey\src\data\AAPL+MSFT+TSLA+MNQF_max_1d.pkl")

Ticker            AAPL     MNQ=F        MSFT        TSLA
Date
1980-12-12    0.098389       NaN         NaN         NaN
1980-12-15    0.093256       NaN         NaN         NaN
1980-12-16    0.086412       NaN         NaN         NaN
1980-12-17    0.088550       NaN         NaN         NaN
1980-12-18    0.091118       NaN         NaN         NaN
...                ...       ...         ...         ...
2025-12-08  277.890015  25664.00  491.019989  439.579987
2025-12-09  277.179993  25699.75  492.019989  445.170013
2025-12-10  278.779999  25798.00  478.559998  451.450012
2025-12-11  278.029999  25713.50  483.470001  446.890015
2025-12-12  278.279999  25213.50  478.529999  458.959991

[11346 rows x 4 columns]

In [5]:
# Calculating CAGR
returns = data.pct_change(fill_method=None)
cagr = qu.perf.cagr(returns)
cagr

Ticker
AAPL     0.194338
MNQ=F    0.026212
MSFT     0.221573
TSLA     0.135696
Name: 2025-12-12 00:00:00, dtype: float64

In [6]:
# Calculating Sharpe
sharpe = qu.perf.sharpe(returns)
sharpe

Ticker
AAPL     0.540
MNQ=F    0.730
MSFT     0.757
TSLA     0.906
dtype: float64