In [1]:
import sys
sys.path.append(r"C:\Users\Sergio\Documents\GitHUb\Quant-trading-journey\src")
import vectorbt as vbt
import quant_utils as qu
import pandas as pd

In [18]:
tickers = ['AAPL', 'MSFT']
data = qu.data.download_data(tickers)

Saved → C:\Users\Sergio\Documents\GitHUb\Quant-trading-journey\src\data\AAPL+MSFT_max_1d.pkl

Ticker            AAPL        MSFT
Date
1980-12-12    0.098389         NaN
1980-12-15    0.093256         NaN
1980-12-16    0.086412         NaN
1980-12-17    0.088550         NaN
1980-12-18    0.091118         NaN
...                ...         ...
2025-12-08  277.890015  491.019989
2025-12-09  277.179993  492.019989
2025-12-10  278.779999  478.559998
2025-12-11  278.029999  483.470001
2025-12-12  278.279999  478.529999

[11343 rows x 2 columns]

In [20]:
returns = data.pct_change()
returns

Ticker          AAPL      MSFT
Date
1980-12-12       NaN       NaN
1980-12-15 -0.052171       NaN
1980-12-16 -0.073398       NaN
1980-12-17  0.024751       NaN
1980-12-18  0.028993       NaN
...              ...       ...
2025-12-08 -0.003192  0.016268
2025-12-09 -0.002555  0.002037
2025-12-10  0.005772 -0.027357
2025-12-11 -0.002690  0.010260
2025-12-12  0.000899 -0.010218

[11343 rows x 2 columns]

In [21]:
cagr = qu.perf.cagr(returns)
cagr

Ticker
AAPL    0.193110
MSFT    0.221185
Name: 2025-12-12 00:00:00, dtype: float64